<html>

<head>
  <title>Подтверждение Email</title>
  <style>
    /* Добавьте стили для оформления страницы */
  </style>
</head>

<body>
  <h1>Ваш Email подтвержден!</h1>
  <p>Спасибо за подтверждение вашего email.</p>
</body>

</html>
